.bannerbg {
  min-height: 450px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../../assets/v2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .bannerbg {
    min-height: 350px;
  }
}
